html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  display: block;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .container {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

header {
  background-color: #ffb8ca;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 37px;
  }
}

.main__logo {
  max-width: 199px;
  height: 50px;
  padding-top: 6px;
}

@media (min-width: 1280px) {
  .main__logo {
    padding-left: 30px;
  }
}

.burger__button {
  stroke: #d41443;
  background-color: inherit;
  border: none;
  width: 20px;
  height: 12px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 30px;
}

@media (min-width: 1280px) {
  .burger__button {
    display: none;
  }
}

nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

nav :not(:last-child) {
  margin-right: 35px;
}

.current {
  color: #d41443;
}

.nav__link:focus, .nav__link:hover {
  transform: scale(1.1);
  color: #d41443;
}

.button {
  display: none;
}

@media (min-width: 768px) {
  .button {
    display: flex;
    width: 160px;
    height: 44px;
    padding-top: 17px;
    padding-bottom: 19px;
    color: #d41443;
    align-items: center;
  }
}

@media (max-width: 1280px) {
  nav {
    display: none;
  }
}

.arrow {
  stroke: inherit;
}

.navigation__buttons {
  display: flex;
  align-items: baseline;
}

@media (max-width: 768px) {
  .buy__now {
    display: none;
  }
}

.main__title {
  font-family: "Titan One", sans-serif;
  font-size: 48px;
  line-height: 0.958;
  color: #d41443;
}

@media (min: width 768px) {
  .main__title {
    font-size: 34px;
    line-height: 0.911;
  }
}

@media (min: width 1280px) {
  .main__title {
    font-size: 58px;
    line-height: 0.896;
  }
}

.main__label {
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  font-weight: 400px;
  line-height: 1.145;
  color: #ffffff;
  letter-spacing: 4%;
}

@media (min: width 768px) {
  .main__label {
    font-size: 22px;
    line-height: 1.136;
  }
}

@media (min: width 1280px) {
  .main__label {
    font-size: 38px;
    line-height: 1.157;
  }
}

.section__title {
  font-family: "Titan One", sans-serif;
  color: #d41443;
  font-size: 34px;
  line-height: 1.147;
}

@media (min: width 768px) {
  .section__title {
    font-size: 48px;
    line-height: 1.145;
  }
}

@media (min: width 1280px) {
  .section__title {
    font-size: 58px;
    line-height: 1.137;
  }
}

.section__label {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  color: #ffa5ba;
  line-height: 1.166;
}

@media (min: width 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.153;
  }
}

@media (min: width 1280px) {
  .section__label {
    font-size: 30px;
    line-height: 1.133;
  }
}

.product__title {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.15;
}

@media (min: width 768px) {
  .product__title {
    font-size: 20px;
    line-height: 1.145;
  }
}

@media (min: width 1280px) {
  .product__title {
    font-size: 30px;
    line-height: 1.145;
  }
}

.hero__section {
  background-color: #ffb8ca;
  overflow: visible;
}

@media (max-width: 768px) {
  .hero__section {
    background-image: url(../images/icecream-mob-1x.png), url(../images/Ellipse.png);
    background-size: contain;
    background-position: right 32px top 36px, right -32px top 27px;
    background-repeat: no-repeat;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__section .hero__section {
    background-image: url(../images/icecream-mob-2x.png);
  }
}

.hero__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.description__block {
  display: flex;
  flex-direction: column;
}

.info {
  display: none;
}

@media (min-width: 768px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.hero__banner {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
}

@media (max-width: 768px) {
  .hero__banner {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero__banner {
    width: 143px;
  }
}

@media (min-width: 1280px) {
  .hero__banner {
    width: 236px;
  }
}

.hero__banner:focus, .hero__banner:hover {
  transform: scale(1.1);
}

.banner__background {
  position: absolute;
  width: 324px;
  top: -31px;
  left: 307px;
}

@media (min-width: 1280px) {
  .banner__background {
    width: 538px;
    left: 475px;
    top: -52px;
  }
}

@media (max-width: 768px) {
  .banner__background {
    display: none;
  }
}

.number {
  font-family: "Titan One", sans-serif;
  font-size: 28px;
  color: #d41443;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .number {
    font-size: 46px;
  }
}

.numbers__list li {
  margin-bottom: 14px;
  background-image: url(../images/milk-drop.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 10px;
}

@media (min-width: 1280px) {
  .numbers__list li {
    background-size: 30px;
    padding-right: 20px;
  }
}

.numbers__list li:focus, .numbers__list li:hover {
  transform: scale(1.1);
}

.numbers__list {
  color: #ffffff;
  font-size: 8px;
  padding-top: 14px;
  text-align: right;
}

@media (min-width: 1280px) {
  .numbers__list {
    font-size: 14px;
  }
}

.description {
  display: flex;
  align-items: flex-end;
  margin-bottom: 28px;
}

@media (min-width: 1280px) {
  .description {
    margin-bottom: 45px;
  }
}

@media (max-width: 768px) {
  .description {
    display: none;
  }
}

.description__text {
  color: #ffffff;
  max-width: 114px;
  font-size: 8px;
}

@media (min-width: 1280px) {
  .description__text {
    width: 200px;
    font-size: 14px;
  }
}

.main__label {
  padding-top: 137px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .main__label {
    padding-top: 15px;
  }
}

@media (min-width: 1280px) {
  .main__label {
    padding-top: 84px;
  }
}

.main__title {
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.hero-buttons {
  display: flex;
  padding-left: 20px;
  padding-bottom: 160px;
}

@media (min-width: 768px) {
  .hero-buttons {
    padding-bottom: 19px;
  }
}

@media (min-width: 1280px) {
  .hero-buttons {
    margin-bottom: 56px;
  }
}

.round__button {
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 25px;
  border: none;
  margin-top: 7px;
}

.girl {
  z-index: 3;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e17992;
  min-width: 250px;
  height: 100vh;
  overflow-y: scroll;
  font-weight: 500;
}

.mobile-menu.is-hidden {
  display: none;
  pointer-events: none;
}

.mobile__container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}

.menu-close {
  position: absolute;
  top: 21px;
  right: 25px;
  background-color: inherit;
  border: none;
  fill: #ffffff;
}

.mobile__nav {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.mobile__nav :not(:last-child) {
  padding-bottom: 23px;
}

.mobile__button {
  margin-bottom: 32px;
}
/*# sourceMappingURL=main.css.map */