header {
  background-color: $background-hero;
}
header .container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  @media (min-width: 768px) {
    padding-top: 37px;
  }
}
.main__logo {
  max-width: 199px;
  height: 50px;
  padding-top: 6px;
  @media (min-width: 1280px) {
    padding-left: 30px;
  }
}
.burger__button {
  stroke: $accent-color-dark;
  background-color: inherit;
  border: none;
  width: 20px;
  height: 12px;
  padding-top: 25px;
  padding-bottom: 25px;
  @media (min-width: 768px) {
    margin-right: 30px;
  }
  @media (min-width: 1280px) {
    display: none;
  }
}
nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  color: $white-text-color;
  & :not(:last-child) {
    margin-right: 35px;
  }
}
.current {
  color: $accent-color-dark;
}
.nav__link {
  &:focus,
  &:hover {
    transform: scale(1.1);
    color: $accent-color-dark;
  }
}

.button {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    width: 160px;
    height: 44px;
    padding-top: 17px;
    padding-bottom: 19px;
    color: $accent-color-dark;
    align-items: center;
  }
}
nav {
  @media (max-width: 1280px) {
    display: none;
  }
}
.arrow {
  stroke: inherit;
}
.navigation__buttons {
  display: flex;
  align-items: baseline;
}
.buy__now {
  @media (max-width: 768px) {
    display: none;
  }
}
