.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__list a {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--cubik) 250ms, border $cubik 250ms;

  &:focus,
  &:hover {
    fill: #2196f3;
    border: 1px solid;
    border-color: #2196f3;
  }
}
.client__icons {
  content: "";
  outline: none;
  color: inherit;
}
