.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__list a {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--cubik) 250ms, border $cubik 250ms;
}
.client__icons {
  content: "";
  outline: none;
  color: inherit;
}
.clients__list a:focus,
.clients__list a:hover {
  fill: #2196f3;
  border: 1px solid;
  border-color: #2196f3;
}
