.projects {
  display: flex;
}
.projects :not(:last-child) {
  margin-right: $main--margin;
}
.label__thumb {
  position: relative;
}
.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  color: $accent--text;
  background-color: rgba(47, 48, 58, 0.8);
  overflow: hidden;
  display: block;
  padding-top: 27px;
  text-transform: uppercase;
}
