//fonts
$basic-font: "DM Sans", sans-serif;
$title-font: "Titan One", sans-serif;

//accent color
$accent-color-dark: #d41443;
$accent-color-light: #ffa5ba;

//text-color
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$white-text-color: #ffffff;

//background
$background-hero: #ffb8ca;
$background-light-bg: #fff5f6;
$background-mobile-menu: #e17992;
//button
$button-color-hover: #c7133e;
